{% if product.images|length > 0 %}
    {{ sonata_block_render_event('sylius.shop.product.show.before_thumbnails', {'product': product}) }}

    <div class="ui six wide column">
        <div class="p-l-25 p-r-30 p-lr-0-lg">
            <div class="wrap-slick3 flex-sb flex-w">
                <div class="wrap-slick3-dots"></div>
                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                <div class="slick3 gallery-lb">
                    {% for image in product.images %}
                        {% set original_path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_original') : '//placehold.it/200x200' %}
                        {% set thumb_path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_large_thumbnail') : '//placehold.it/200x200' %}

                        <div class="item-slick3" data-thumb="{{ thumb_path }}">
                            <div class="wrap-pic-w pos-relative">
                                <img src="{{ thumb_path }}" alt="{{ product.name }}">

                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="{{ original_path }}">
                                    <i class="fa fa-expand"></i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script type="application/javascript">
        var sliderProductCallback = function(){

            $('.wrap-slick3').each(function(){
                let slick3Container = $(this).find('.slick3');
                if (slick3Container && typeof slick3Container.slick === 'function') {
                    slick3Container.slick({
                        slidesToShow: 1,
                        slidesToScroll: 1,
                        fade: true,
                        infinite: true,
                        autoplay: false,
                        autoplaySpeed: 6000,

                        arrows: true,
                        appendArrows: $(this).find('.wrap-slick3-arrows'),
                        prevArrow:'<button class="arrow-slick3 prev-slick3"><i class="fa fa-angle-left" aria-hidden="true"></i></button>',
                        nextArrow:'<button class="arrow-slick3 next-slick3"><i class="fa fa-angle-right" aria-hidden="true"></i></button>',

                        dots: true,
                        appendDots: $(this).find('.wrap-slick3-dots'),
                        dotsClass:'slick3-dots',
                        customPaging: function(slick, index) {
                            var portrait = $(slick.$slides[index]).data('thumb');
                            return '<img src=" ' + portrait + ' "/><div class="slick3-dot-overlay"></div>';
                        }
                    });
                }
            });

        };

        if (document.readyState === "complete"){
            sliderProductCallback();
        }else if (document.addEventListener){
            document.addEventListener('DOMContentLoaded', sliderProductCallback);
        }else document.attachEvent('onreadystatechange', function(){
            // IE <= 8
            if (document.readyState=='complete'){
                slideProductCallback();
            }
        });
    </script>
{% else %}
    {% set original_path = '//placehold.it/400x300' %}
    {% set path = original_path %}

    <div class="ui nine wide column">
        <div data-product-image="{{ path }}" data-product-link="{{ original_path }}"></div>
        <a href="{{ original_path }}" class="ui fluid image" data-lightbox="sylius-product-image">
            <img src="{{ path }}" id="main-image" alt="{{ product.name }}" />
        </a>
    </div>
{% endif %}
