{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('sylius.shop.product.index.before_box', {'product': product}) }}

<div class="card-slick">
    <div class="card card-sm">
        <a class="card-img card-img-md" href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">
            {% include '@SyliusShop/Product/_mainImage.html.twig' with {'product': product} %}
        </a>
        <div class="card-body">
            <div class="card-price">
                <i class="zmdi zmdi-badge-check text-success" data-toggle="tooltip" data-placement="bottom" data-title="Available" data-original-title="" title=""></i>
                <span class="text-right">{{ money.calculatePrice(product|sylius_resolve_variant) }}</span>
            </div>
            <h5 class="card-title">
                <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}">{{ product.name }}</a>
            </h5>
            <p class="card-tex font-size-md mb-0">{{ ctic_string_max(product.shortDescription, 200) }}</p>
        </div>
        <div class="card-footer">
            <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"><i class="zmdi zmdi-shopping-cart-plus"></i> {{ 'sylius.ui.view_more'|trans }}</a>
            <div class="ml-auto">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<!-- end .card -->

{{ sonata_block_render_event('sylius.shop.product.index.after_box', {'product': product}) }}
