<!-- Footer -->
<footer class="bg3 p-t-75 p-b-32">
    <div class="sui">
        <div class="ui container">
            {{ sonata_block_render_event('sylius.shop.layout.before_footer') }}

            <div class="ui four column doubling stackable grid">
                <div class="ui four wide column p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        {{ 'ctic.ui.your_store'|trans }}
                    </h4>

                    {{ render(url('sylius_shop_partial_taxon_index_by_code', {'code': 'misiones', 'template': '@SyliusShop/Taxon/_footerMenu.html.twig'})) }}
                </div>

                <div class="ui four wide column p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        {{ 'ctic.ui.help'|trans }}
                    </h4>

                    <ul>
                        <li class="p-b-10">
                            {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'envasos', 'template' : '@SyliusShop/_footerLink.html.twig'})) }}
                        </li>

                        <li class="p-b-10">
                            {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'ciaxes-fusta', 'template' : '@SyliusShop/_footerLink.html.twig'})) }}
                        </li>

                        <li class="p-b-10">
                            {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'certificacio-ecologica', 'template' : '@SyliusShop/_footerLink.html.twig'})) }}
                        </li>

                        <li class="p-b-10">
                            {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'seguimiento_pedidos', 'template' : '@SyliusShop/_footerLink.html.twig'})) }}
                        </li>

                        <li class="p-b-10">
                            {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'condicions-servei', 'template' : '@SyliusShop/_footerLink.html.twig'})) }}
                        </li>
                    </ul>
                </div>

                <div class="ui four wide column p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        {{ 'ctic.ui.get_in_touch'|trans }}
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        {{ 'ctic.ui.get_in_touch_phrase'|trans|raw }}
                    </p>

                    <div class="p-t-27">
                        <a href="{{ 'ctic.ui.link_sn_twitch'|trans }}" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-twitch"></i>
                        </a>

                        <a href="{{ 'ctic.ui.link_sn_instagram'|trans }}" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-instagram"></i>
                        </a>

                        <a href="{{ 'ctic.ui.link_sn_twitter'|trans }}" target="_blank" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>

                <div class="ui four wide column p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        {{ 'ctic.ui.newsletter'|trans }}
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        {{ 'ctic.ui.proximamente'|trans|raw }}
                    </p>
                    <!--<form>
                        <div class="wrap-input1 w-full p-b-4">
                            <input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="email@example.com">
                            <div class="focus-input1 trans-04"></div>
                        </div>

                        <div class="p-t-18">
                            <button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                                {{ 'ctic.ui.subscribe'|trans }}
                            </button>
                        </div>
                    </form>-->
                </div>
            </div>

            <div class="ui grid p-t-40">
                <div class="ui sixteen wide column stext-107 cl7 txt-center">
                    <a href="#" class="m-all-1">
                        <img src="{{ asset('assets/shop/img/icons/icon-pay-01.png') }}" alt="Paypal">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="{{ asset('assets/shop/img/icons/icon-pay-02.png') }}" alt="VISA">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="{{ asset('assets/shop/img/icons/icon-pay-03.png') }}" alt="Mastercard">
                    </a>
                </div>

                <p class="ui sixteen wide column stext-107 cl7 txt-center">
                    Copyright  &copy; {{ 'ctic.ui.your_store'|trans }} {{ 'sylius.ui.powered_by'|trans }} <a href="http://ciclotic.com" target="_blank">cicloTIC</a>.
                    {{ render(path('bitbag_sylius_cms_plugin_shop_page_show_link_by_code', {'code' : 'creditos', 'template' : '@SyliusShop/_footerLinkCopyright.html.twig'})) }}
                </p>
            </div>

            {{ sonata_block_render_event('sylius.shop.layout.after_footer') }}
        </div>
    </div>
</footer>
