{% if locales|length > 1 %}
    <!--<a href="#" class="flex-c-m trans-04 p-lr-25 underlined">{{ active|sylius_locale_name }}</a>-->
    {% for code in locales %}
        {% if code is not same as(active) %}
            <a href="{{ path('sylius_shop_switch_locale', {'code': code}) }}" class="flex-c-m trans-04 p-lr-25">
                {% if code == 'ca_ES' %}
                    <img src="{{ asset('assets/shop/img/miniCat.jpg') }}" width="30" alt="{{ code|sylius_locale_name }}" />
                {% endif %}
                {% if code == 'es' %}
                    <img src="{{ asset('assets/shop/img/miniEsp.jpg') }}" width="30" alt="{{ code|sylius_locale_name }}" />
                {% endif %}
                {% if code != 'ca_ES' and code != 'es' %}
                    {{ code|sylius_locale_name }}
                {% endif %}
            </a>
        {% endif %}
    {% endfor %}
{% endif %}
