{% if is_granted('ROLE_USER') %}
    <ul class="main-menu">
        <li>
            <a href="{{ path('sylius_shop_account_dashboard') }}">{{ 'sylius.ui.my_account'|trans }}</a>
        </li>
        <li>
            <a href="{{ path('sylius_shop_logout') }}">{{ 'sylius.ui.logout'|trans }}</a>
        </li>
    </ul>
{% else %}
    <ul class="main-menu">
        <li>
            <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.login'|trans }}</a>
        </li>
    </ul>
{% endif %}
