{{ sonata_block_render_event('sylius.shop.product.index.before_vertical_menu', {'taxon': taxon}) }}

<div class="sui container center-layer">
    {% if taxon.parent is not empty and not taxon.parent.isRoot() %}
        <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': taxon.parent.slug, '_locale': taxon.parent.translation.locale}) }}" class="item">
            <i class="up arrow icon"></i> {{ 'sylius.ui.go_level_up'|trans }}
        </a>
    {% endif %}
    <div class="ui four column doubling stackable grid">
    {% for child in taxon.children %}
        {% set image = child.images|last %}
        <div class="ui four wide column">
            <div class="col-md-6 col-xl-4 p-b-30 m-lr-auto">
                <div class="block1 wrap-pic-w">
                    {% if image != '' %}
                        <img src="{{ image.path|imagine_filter('taxon') }}" alt="{{ child.name }}">
                    {% else %}
                        <img src="{{ asset('assets/shop/img/familiaEnBlanco.jpg') }}" alt="{{ child.name }}">
                    {% endif %}

                    <a href="{{ path('bitbag_sylius_elasticsearch_plugin_shop_list_products', {'slug': child.slug, '_locale': child.translation.locale}) }}" class="block1-txt ab-t-l s-full flex-col-l-sb p-all-28 trans-03 respon3">
                        <div class="block1-txt-child1 mw-135 flex-col-l">
                            <span class="block1-name ltext-102 trans-04 p-b-8">
                                {{ child.name }}
                            </span>

                            <span class="block1-info stext-102 trans-04">
                                {{ child.description }}
                            </span>
                        </div>

                        <div class="block1-txt-child2 p-b-4 trans-05">
                            <div class="block1-link stext-101 cl0 trans-09">
                                {{ 'ctic.ui.shop_now'|trans }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{{ sonata_block_render_event('sylius.shop.product.index.after_vertical_menu', {'taxon': taxon}) }}
