{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ page.title }}{{ 'ctic.ui.your_store'|trans }}{% endblock %}

{% block metatags %}
    {% if page.metaKeywords is not empty %}
        <meta name="keywords" content="{{ page.metaKeywords }}"/>
    {% endif %}
    {% if page.metaDescription is not empty %}
        <meta name="description" content="{{ page.metaDescription }}"/>
    {% endif %}
{% endblock %}

{% block content %}
    {% if page.image %}
        {% set path = '/media/image/'~page.image.path %}
        <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background: url('{{ path }}');">
            <h1 class="ltext-105 cl0 txt-center">
                {{ page.title }}
            </h1>
        </section>
    {% endif %}

    {% if page.landing is not null %}
        {{ render(url('ctic_bridge_bitbag_cms_plugin_shop_preview_render', {'id': page.landing.id})) }}
    {% endif %}

    <div class="bg0 m-t-20 p-b-20">
        <div class="container center-layer">
            <div class="flex-w flex-sb-m">
                <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                    <a href="{{ path('sylius_shop_homepage') }}" class="stext-106 cl6 hov1 bor3 trans-04 m-r-16 m-l-16 m-tb-5">{{ 'sylius.ui.home'|trans }}</a>
                    <div class="divider"> / </div>
                    <div class="stext-106 cl6 hov1 bor3 trans-04 m-r-16 m-l-16 m-tb-5 how-active1 active section">{{ page.name }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        {% if page.image is null %}
        <div class="row">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <hr>
        {% endif %}
        <div class="row">
            <div class="col-12">
                {{ page.content|raw }}
                <div class="bitbag-page-sections">
                    {% include '@BitBagSyliusCmsPlugin/Shop/Page/Show/_sections.html.twig' %}
                </div>
            </div>
        </div>
        {% if page.products|length > 0 %}
            <div class="row">
                <h2>
                    {{ 'bitbag_sylius_cms_plugin.ui.page_related_products'|trans }}
                </h2>
                <div class="bitbag-page-products">
                    {% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': page.products} %}
                </div>
            </div>
        {% endif %}
        </div>
    </div>
    <br><br>
{% endblock %}
