<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-color: #D3D3D3;">
    <h1 class="ltext-105 cl0 txt-center">
        <div class="sui">
            <i class="circular user icon"></i>
        </div>
        {{ 'sylius.ui.register_in_the_store'|trans }}
    </h1>
    <h2 class="ltext-102 cl0 txt-center">
        {{ 'sylius.ui.create_a_new_customer_account'|trans }}
    </h2>
</section>

<div class="container center-layer">
    <div class="sui">
        <div class="middle aligned column">
            <a href="{{ path('sylius_shop_login') }}" class="ui right floated basic button">{{ 'sylius.ui.have_an_account_already'|trans }} {{ 'sylius.ui.sign_in_here'|trans }}.</a>
        </div>
    </div>
</div>
